.App {
	text-align: center;
}

.App h1 {
	font-size: 36px;
	font-weight: 700;
	color: #5a6275;
}

.App h2 {
	font-size: 31px;
	color: #5a6275;
}

.App-logo {
	height: 20vmin;
	pointer-events: none;
}

.Dictionary {
	max-width: 500px;
	margin: 0 auto;
}

.Phonetics button {
	background-color: transparent;
	border: none;
	font-size: 40px;
	color: cadetblue;
}

.Phonetics button:hover {
	color: cornflowerblue;
}
