.App {
	text-align: center;
}

.App h1 {
	font-size: 36px;
	font-weight: 700;
	color: #5a6275;
}

.App h2 {
	font-size: 31px;
	color: #5a6275;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
